
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="">
                    {{currentStateTitle}}
                </a>
            </li>
            <li ng-repeat="menu in menus">
                <a ui-sref="app.{{menu.url}}"> {{menu.name}}</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="col-lg-12">
                <h3 class="text-center">{{currentStateTitle}}</h3>
            </div>
            <div class="row slide-animate-container">
                <div class="col-lg-12" ui-view="menuContent"></div>

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
